{
    "singleQuote": true,
    "tabWidth": 2,
    "printWidth": 120,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "jsxSingleQuote": true,
    "semi": true,
    "importOrder": ["^react$", "^react/(.*)$", "^[^@./][^/]*$", "^(@[^/]+)/(.*)$", "^@/(.*)$", "^\\.?/(.*)$", "^\\.\\.?/(.*)$"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
